{{!< default}}
{{#author}}
<header class="author__header">
  {{#if image}}
  <div class="author__avatar" style="background-image: url({{image}})"></div>
  {{else}}
  <div class="author__avatar" style="background-image: url({{asset "/images/default-user.png"}})"></div>
  {{/if}}
  <div class="author__meta">
    <h3 class="name">{{name}}</h3>
    <p class="bio">{{bio}}</p>
    {{> social__links}}
  </div>
</header>
{{/author}}
{{> loop}}
