{{!< default}}
<header class="home__header" {{#if @blog.cover}} style="background-image: url({{@blog.cover}});"{{else}} style="background: #111;" {{/if}}>
  <a href="/">
  <div class="logo" style="background-image: url({{@blog.logo}})">
  </div>
  </a>
  <div class="home__meta">
    <h1 class="blog__title">{{@blog.title}}</h1>
    <p class="blog__desc">{{@blog.description}}</p>
  </div>
</header>
{{> loop}}
